{% block staff_schedule %}
<div class="ui secondary menu">
  <a class="item active" data-tab="hall_staffs">
    {{current_hall_num}} Staff
  </a>

  {% if user in hall_caretaker%}
    <a class="item" data-tab="hall_staff_edit">
        Add/Edit Staff
    </a>

    <a class="item" data-tab="worker_report">
        Worker Report
    </a>

    <a class="item" data-tab="view_report">
        View Report
    </a>
  {% endif %}

    <div class="item">
      <div class="ui simple dropdown item">
        Hall No. <i class="dropdown icon"></i>
        <div class="menu">
        {% for i in all_hall%}
            <a class="item" href="{% url 'hostelmanagement:get_hall_num' i.hall_id %}">{{i.hall_id}}</a>
        {% endfor %}
        </div>
    </div>
    </div>
    
</div>




<div class="ui active tab" data-tab="hall_staffs" >
    <div class="textLoader" style="max-height: 64vh; overflow-y: auto; overflow-x: hidden;">
        {% block hall_staffs %}
            {% include 'hostelmanagement/hall_staffs.html' %}
        {% endblock %}
    </div>
</div>


<div class="ui tab" data-tab="hall_staff_edit">
    <div class="ui vertical segment">
        {% block hall_staff_edit %}
            {% include 'hostelmanagement/hall_staff_edit.html' %}
        {% endblock %}
    </div>
</div>

<div class="ui tab" data-tab="worker_report">
    <div class="ui vertical segment">
        {% block worker_report %}
            {% include 'hostelmanagement/worker_report_upload.html' %}
        {% endblock %}
    </div>
</div>

<div class="ui tab" data-tab="view_report">
    <div class="ui vertical segment">
        {% block view_report %}
            {% include 'hostelmanagement/view_report.html' %}
        {% endblock %}
    </div>
</div>

<br>
<br>



<div class="ui divider"></div>

{% endblock %}